<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.simonbs.Alfred.Tweetbot</string>
	<key>connections</key>
	<dict>
		<key>D5ED849F-23DC-44D7-A290-AA4410E9A471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F87A25F-96C5-4EC4-ADC3-27C5D3A84151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Simon B. Støvring (@simonbs)</string>
	<key>description</key>
	<string>Control Tweetbot</string>
	<key>name</key>
	<string>Tweetbot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from tweetbot_helper import run_command

run_command("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2F87A25F-96C5-4EC4-ADC3-27C5D3A84151</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tb</string>
				<key>script</key>
				<string>from tweetbot_helper import tweetbot_helper

print(tweetbot_helper("{query}"))</string>
				<key>title</key>
				<string>Tweetbot</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D5ED849F-23DC-44D7-A290-AA4410E9A471</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>2F87A25F-96C5-4EC4-ADC3-27C5D3A84151</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D5ED849F-23DC-44D7-A290-AA4410E9A471</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://simonbs.dk/</string>
</dict>
</plist>
